@import "../../../core/node_modules/bootstrap/scss/bootstrap";
@import "../../../core/node_modules/bootstrap/scss/bootstrap-grid";
@import "../../../core/node_modules/bootstrap/scss/nav";

/**
@author Nicolas Choquet
@date 2018-10-18

@title Voici un composant de test Sass

@description
Voici une description d'un composant de test Sass
avec des retours à la lignes
et encore.

@modifiers
.modifier1 - Voici un exemple de modifieur
.modifier2 - un 2em exemple

@code-demo
<div class="class">
	<div class="toto {class_modifier}">
		voici du text
	</div>
</div>

<div class="class">
	<div class="toto {class_modifier}">
		mais il peux aussi y avoir des espaces
	</div>
</div>
*/
.class {
	.toto {
		&.modifier1 {
			background-color: red!important;
		}

		&.modifier2 {
			background-color: purple!important;
		}
		color: blue;
	}
}
